body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
}

input, select, textarea, button {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input, select, textarea {
    background-color: #161b22;
    color: #58a6ff;
}

button {
    background-color: #238636;
    color: white;
    font-size: 
